@page "/blog"
@inject HttpClient Http

<h1 class="display-1 mb-5">Blog</h1>

@foreach (var item in this.blogFiles)
{
    <div class="mb-5 pb-5">
        <BlogPostComponent FilePath="@item"></BlogPostComponent>
    </div>
}

@code {
    private List<string> blogFiles;

    protected override async Task OnInitializedAsync()
    {
        this.blogFiles = new List<string>();
        string data = await Http.GetStringAsync("blog-posts/blog-post-data.txt");
        StringReader stringReader = new StringReader(data);

        while (true)
        {
            string filename = stringReader.ReadLine();

            if (filename != null)
            {
                this.blogFiles.Add(filename);
            }
            else
            {
                break;
            }
        }
    }
}
