@page "/blog/{PostUrl}"
@inject HttpClient Http

<a class="btn btn-light mb-4" href="/blog"><i class="bi bi-arrow-left"></i> All posts</a>

@if (this.html.Value != string.Empty)
{
    @this.html
}

@code {
    [Parameter]
    public string PostUrl { get; set; }

    private MarkupString html;

    protected override async Task OnInitializedAsync()
    {
        await CreatePage();
    }

    protected async override Task OnParametersSetAsync()
    {
        await Refresh();
    }

    private async Task CreatePage()
    {
        string path = @"blog-posts/" + CultureInfo.CurrentCulture.Name + "/" + this.PostUrl + ".md";

        try
        {
            string markdown = await Http.GetStringAsync(path);
            StringReader stringReader = new StringReader(markdown);
            string htmlString = Markdown.ToHtml(markdown);
            this.html = new MarkupString(htmlString);
        }
        catch (Exception)
        {
            this.html = new MarkupString("<p>Sorry, I couldn't find that post :(</p>");
        }
    }

    private async Task Refresh()
    {
        await CreatePage();
        StateHasChanged();
    }
}
